@import url("https://fonts.googleapis.com/css?family=Gabarito");

body,h1 {font-family: "Gabarito", sans-serif; color: #eee7ff}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

span {
	display: none;
	padding: 10px;
}

.centering {
	position:absolute;
	left:50%;
	top:30px;
	transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%)
}

.bgimg {
	background-image: url('blacklight.png');
	background-attachment: fixed;
	background-color: #03001d;
	min-height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#search-form {
	text-align: center;
}

#search-bar {
	background-color: #344a81;
	color: #83cddb;
	padding: 4px;
}

#go {
	background-color: #432c50;
	color: #fff;
	padding: 4px 8px;
}

#output {
	background-color: rgba(3,0,29,0.7);
}

#search-term {
	display: inline; 
	color: #83cddb;
	border-style: none;
	}
